.task_modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  min-width: 500px;
  background-color: gray;
}

.modal_header {
  display: flex;
  justify-content: space-around;
}

.modal_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}